In [28]:
import pandas as pd
df=pd.read_csv("D:\\Documents\Bengaluru_House_Data.csv")
df.dropna(inplace=True)

In [29]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00
...,...,...,...,...,...,...,...,...,...
13313,Super built-up Area,Ready To Move,Uttarahalli,3 BHK,Aklia R,1345,2.0,1.0,57.00
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715,3.0,3.0,112.00
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00

In [30]:
for x in df.index:
    if df.loc[x, "price"] > 150:
        df.loc[x, "price"] = 1
    else:
        df.loc[x, "price"] = 0

In [31]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,0.0
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,0.0
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,0.0
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,0.0
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...
13313,Super built-up Area,Ready To Move,Uttarahalli,3 BHK,Aklia R,1345,2.0,1.0,0.0
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,SoosePr,1715,3.0,3.0,0.0
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,1.0
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,0.0
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,1.0

In [32]:
inputs=df.drop('price',axis='columns')
target=df['price']

In [33]:
from sklearn.preprocessing import LabelEncoder
le_area_type = LabelEncoder()
le_availability = LabelEncoder()
le_location = LabelEncoder()
le_size= LabelEncoder()
le_society = LabelEncoder()
le_total_sqft = LabelEncoder()
le_bath= LabelEncoder()
le_balcony = LabelEncoder()

In [38]:

inputs['area_type_n']=le_area_type.fit_transform(inputs['area_type'])
inputs['availability_n']=le_availability.fit_transform(inputs['availability'])
inputs['location_n']=le_location.fit_transform(inputs['location'])
inputs['size_n']=le_size.fit_transform(inputs['size'])
inputs['society_n']=le_society.fit_transform(inputs['society'])
inputs['total_sqft_n']=le_total_sqft.fit_transform(inputs['total_sqft'])
inputs['bath_n']=le_bath.fit_transform(inputs['bath'])
inputs['balcony_n']=le_balcony.fit_transform(inputs['balcony'])
inputs.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,area_type_n,availability_n,location_n,size_n,society_n,total_sqft_n,bath_n,balcony_n
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,3,35,210,3,443,63,1,1
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,2,73,149,8,2353,1128,4,3
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,3,73,387,5,2109,551,2,1
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,3,73,625,3,585,192,1,1
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,2,73,625,8,1566,1163,4,3

In [39]:
inputs_n=inputs.drop(['area_type','availability','location','size','society','total_sqft','bath','balcony'],axis='columns')

In [40]:
inputs_n

,area_type_n,availability_n,location_n,size_n,society_n,total_sqft_n,bath_n,balcony_n
0,3,35,210,3,443,63,1,1
1,2,73,149,8,2353,1128,4,3
3,3,73,387,5,2109,551,2,1
5,3,73,625,3,585,192,1,1
11,2,73,625,8,1566,1163,4,3
...,...,...,...,...,...,...,...,...
13313,3,73,590,5,100,378,1,1
13314,3,73,234,5,2148,725,2,3
13315,0,73,625,10,197,1262,3,0
13317,0,73,490,3,1168,159,1,1
13318,3,27,459,7,2127,1367,3,1

In [41]:
target[40:60]

72     0.0
73     0.0
74     0.0
77     1.0
80     0.0
82     0.0
84     0.0
87     0.0
88     0.0
90     0.0
94     0.0
96     1.0
100    0.0
101    0.0
102    0.0
103    0.0
104    0.0
107    1.0
109    0.0
111    0.0
Name: price, dtype: float64

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs_n,target,test_size=0.2)

In [43]:
len(X_train)

5996

In [44]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [45]:
model.fit(X_train,y_train)

GaussianNB()

In [46]:
model.score(X_test,y_test)

0.9366666666666666

In [50]:
X_test[20:40]

,area_type_n,availability_n,location_n,size_n,society_n,total_sqft_n,bath_n,balcony_n
7607,2,73,124,6,1555,627,2,1
2096,3,26,272,3,1167,183,1,1
4828,2,73,627,8,267,1607,1,1
13196,3,73,442,3,1551,361,1,1
13171,3,73,285,7,620,1284,4,1
5823,3,73,267,3,974,292,1,1
2808,0,73,154,3,1030,76,1,2
10808,3,26,272,3,1167,183,1,1
1655,3,73,364,7,2054,1193,3,3
5239,3,73,546,3,1512,13,1,1
4309,3,33,521,5,305,620,2,1
6952,3,58,337,0,1471,1397,0,1
10996,0,73,554,8,1019,1228,3,0
11422,3,58,573,5,280,739,2,1
7216,3,73,271,3,1774,161,1,1
698,3,73,31,3,1773,1671,1,1
4130,3,73,447,5,2236,531,2,3
3887,3,29,210,5,2264,433,1,2
5102,0,73,613,5,866,628,2,1
2327,3,73,203,3,838,55,1,2

In [51]:
y_test[20:40]

7607     1.0
2096     0.0
4828     0.0
13196    0.0
13171    1.0
5823     0.0
2808     0.0
10808    0.0
1655     1.0
5239     0.0
4309     0.0
6952     0.0
10996    1.0
11422    0.0
7216     0.0
698      0.0
4130     0.0
3887     0.0
5102     0.0
2327     0.0
Name: price, dtype: float64

In [52]:
model.predict(X_test[20:40])

array([0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0.])